/* Background Color Theme */
.bg-one {
    background-color: #10439F;
}

.bg-two {
    background-color: #874CCC;
}

.bg-three {
    background-color: #C65BCF;
}

.bg-four {
    background-color: #F27BBD;
}